
.ProgrammingStack {
    float:center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 50%;
    margin-top: 5vh;
}
.ProgrammingStack div {
    /* float:left; */
    padding:10px;
}
.ProgrammingStackBox{
    padding:0;
    margin:0;
}


.CenterIt{
    margin: auto;
    width: 50%;
    top: 50%;
    position: absolute;
    transform: translate(50%, -50%);
    padding: 25px;
}


.projectForm{
    overflow-x:hidden;
    width: 99%;
    height: 100vh;
    display: inline-block; margin:0;  padding:0px; 
    /*border:white 1px solid;*/
}


.BackgroundImage{
    height: 99%;
    width: 60%;
    float:left;
    
    mask-composite: intersect ;
    -webkit-mask-image: url("../img/mask.png");
    mask-image:  url("../img/mask.png"),
    linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(174,174,174,0) 15%, rgba(32,32,32,1) 85%, rgba(0,0,0,1) 100%); 
       mask-repeat: no-repeat; 
    mask-size:100% 100% ;

}
 
@media ( max-width:1000px) { 

    
.BackgroundImage{
    height: 99%;
    width: 100%;
    float:left;
    -webkit-mask-image: none;
    mask-image: none;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat; 
    mask-size:100% 100% ;

    }
    .projectForm{
    height: auto;
        
    }
 }

 .NavSideBar{
    left:2%;
    z-index: 99;
    top:35%;
    width: auto;
    position:Fixed;
    width: 10%;
    text-align:left !important
}
.NavSideBar nav button{
    margin-bottom:25px;
    position:static;
    background-color:red;
    font-size: 25px;

}html {
    scroll-behavior: smooth;
}

