
.pcbBackground{   
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    opacity:0.25;
    z-index:-1;
}


#Logo{
  margin: auto;
  width: 50%;
  /* height: 55vh; */
  transform:translateY(20vh);
    /* padding-bottom: 3.5vh; */
}

.StartingNull{
    /* opacity:0; */
}

.test{
  display: flex;
  justify-content: center;
  /* transform:translateY(3.0vh); */
}
#UpperLogo div{
    position: absolute;

    background-color: white;
    height: 3.2vh;
    width: 20.0vh;
}
#UpperLogo{
    transform: translateY(6vh);

}

#LeftLogo{
    transform: translateY(18.0vh);
}
#RightLogo{
    transform: translateY(18.0vh);
}
#LeftDown {
    position: absolute;

    background-color: white;
    height: 3.2vh;
    width: 18.0vh;
}
#LeftUp{
    position: absolute;
    background-color: white;
    height: 3.2vh;
    width: 23.0vh;
}



body{
    background: radial-gradient(circle at 50%,  rgb(11, 49, 59) 25%, #0c0f14 100%);
    font-family:Arial, Helvetica, sans-serif;
    font-size:3.0vh;
    color:#E7F6F2;
    text-align: center;
    height:100vh;
    margin:auto;
 /*   overflow: hidden; /* Hide scrollbars */
}

#MainTextDiv{
    transform:translateY(65vh);
}


#MainText{
    font-size:5.0vh;
    font-weight: 520;
    margin:0;
}

#secondText{
    font-size:3.6vh;
    font-weight: 450;
    margin:0;
    margin-bottom: 2vh;
}
#phraseOrSomethingCoolIdk{
    opacity:.8;
}


#btn{
    z-index: 9;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:white;
    font-size:2.8vh;
    padding:2.0vh;
    margin:1vh;
    border:solid white 2px;  
    transition: 0.3s;
    opacity:1;
    background-color: transparent;
    display: inline-block;
    cursor:pointer;
}
#btn img{
    filter: invert(0);
}
#btn:hover{
    background-color: white;
    color:black;
}
#btn:hover img{
    filter: invert(1);
}
@keyframes animationBTN {
    from{color:blue}
    to{
        color:red}
}

/*  introduction */
.instroductionDiv{
    /* float:left; */
    text-align:left;
    padding-left: 5%;
    padding-top: 10%;
    width: 95%;
}

.instroductionDiv h1, h2,h3{
    margin-bottom:3%;
}
.instroductionDiv  h4, h5,h6{
    margin:2%;
}



/*  projects */

.ProjectsDisplayed{
    overflow-x: scroll;
    overflow-y: hidden;
    height: 80px;
    white-space:nowrap;
}
.projectBox{
    border: 3px solid white;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.projectBox h1,h2,h3{
    margin-bottom:1%;
}
.projectBox  h4,h5,h6{
    margin:1%;
}

.projectBox  p{
    font-size:80%;
    margin:1%;
}



/*  social */
 .hide{
    animation-name: moveTextSocialMediaOut;
    animation-duration:250ms;
    display: block;
    opacity:0%;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
    /* display:none; */
}
.socialButtonsBox{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
}
.buttonBox{
    text-align: center;
}
.buttonBox:hover  .hide{
    display:flex;
    opacity:100%;
    animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-name: moveTextSocialMedia;
    animation-duration: 250ms;
    
}@keyframes moveTextSocialMedia {
    0% { top:5%; opacity:0%}
    100% {top: 0%; opacity:100%}
  }@keyframes moveTextSocialMediaOut {
      0% {top: 0%; opacity:100%}
    100% { top:5%; opacity:0%}
}